/* AppComponent's private CSS styles */
h1 {
  margin-bottom: 10;
  text-align: center;
}

.btn-group-horizontal {
  display: flex;
}

.btn-group-horizontal nav {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  column-gap: 15px;
}

.btn-group-horizontal nav a {
  flex-basis: 0;
  flex-grow: 1;
  padding: 10px 14px 14px 10px; /* Some padding top right bottom left */
  cursor: pointer; /* Pointer/hand icon */
  text-align: center; /* Make the buttons appear next to each other */
  text-decoration: none;
  font-weight: bold;
  background-color: #e8e8e8;
  color: #3d3d3d;
  border-radius: 4px;
}

.btn-group-horizontal nav a:hover {
  background-color: #42545c;
  color: white;
}

.btn-group-horizontal nav a:active {
  background-color: black;
}
